.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center; 
}

.register-title {
    margin-bottom: 20px;
    color: #f0f0f0;
    font-size: 2rem;
}

button {
    border: none; 
    color: white;
    cursor: pointer; 
    margin-top: 18px;
    width: 80%;
}

.success-message {
    color: green;
    margin-top: 20px;
    font-size: 1.5rem;
}

.back-link {
    margin-top: 10px;
}

.back-link span {
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

.back-link span:hover {
    color: #0056b3;
}